@import "tailwindcss";

@theme {
  --color-Light-Background: #E8FB8D;
  --color-Dark-Background: #CCC80A;
  --color-LIght-Border: #D7E40E;
  --color-Dark-Border: #6E5A15;
  --color-Headings: #403108;
  --color-Sub-headings: #826F11;
  --color-Buttons: #D7E40E;
  --color-Icons: #D7E40E;
}

:root {
  --primary-color: #403108;
  --secondary-color: #826F11;
  --button: #D7E40E;
  --text-primary: #000;
  --text-secondary: #4B5563;
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

h1 {
  /* font-size: 2.5rem; */
  font-family: var(--font-heading);
  color: var(--primary-color);
}

h2 {
  /* font-size: 2rem; */
  font-family: var(--font-heading);
  color: var(--secondary-color);
}

p {
  font-family: var(--font-body);
}
span {
  /* font-size: 2.5rem; */
  font-family: var(--font-heading);
  color: var(--secondary-color);
}
/* button {
  background-color: var(--button);
} */